<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba293">  <td>21/06/14 21:26:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.learnautomation.testcases.LoginTestCrm@8e4bb0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15484165</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>21/06/14 21:26:22</td>   <td>-3929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCrm.gotoCRMPage()[pri:2, instance:com.learnautomation.testcases.LoginTestCrm@8e4bb0]">gotoCRMPage</td> 
  <td>main@15484165</td>   <td></td> </tr>
<tr bgcolor="6ba293">  <td>21/06/14 21:26:08</td>   <td>-18543</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchBrowser()[pri:0, instance:com.learnautomation.testcases.LoginTestCrm@8e4bb0]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15484165</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>21/06/14 21:26:17</td>   <td>-8757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCrm.loginApp()[pri:1, instance:com.learnautomation.testcases.LoginTestCrm@8e4bb0]">loginApp</td> 
  <td>main@15484165</td>   <td></td> </tr>
<tr bgcolor="6ba293">  <td>21/06/14 21:26:08</td>   <td>-18566</td> <td title="&gt;&gt;BaseClass.setUpSuite()[pri:0, instance:com.learnautomation.testcases.LoginTestCrm@8e4bb0]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15484165</td>   <td></td> </tr>
<tr bgcolor="6ba293">  <td>21/06/14 21:26:26</td>   <td>-567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDownMethod(org.testng.ITestResult)[pri:0, instance:com.learnautomation.testcases.LoginTestCrm@8e4bb0]">&lt;&lt;tearDownMethod</td> 
<td>&nbsp;</td>  <td>main@15484165</td>   <td></td> </tr>
<tr bgcolor="6ba293">  <td>21/06/14 21:26:26</td>   <td>-567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDownMethod(org.testng.ITestResult)[pri:0, instance:com.learnautomation.testcases.LoginTestCrm@8e4bb0]">&lt;&lt;tearDownMethod</td> 
<td>&nbsp;</td>  <td>main@15484165</td>   <td></td> </tr>
</table>
